button.MuiButtonBase-root.MuiFab-root.MuiFab-extended.MuiFab-primary {
  position: absolute;
  bottom: 5%;
  z-index: 100;
}


.flex-container{
	width: 80%;
	min-height: 300px;
	margin: 0 auto;
  display: flex;
}
.flex-container .column{
  margin-top: 1%;
  margin-right: 1%;
  border-radius: 10px;
	padding: 10px;
	background: #adadad85;
	-ms-flex: 1; /* IE 10 */
  flex: 1;
  text-align: center
}
.flex-container .column.bg-alt{
	background: #adadad85;
}

.title{
  font-size: 30px;
  font-weight: 800;
  text-align: center
}

.chartWrapper{
  margin-top: 40px;
}

.dropWrapper{
  text-align: center
}

.wrapper{
  position: relative;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.wrapper > div {
  padding: 1em;
}

.button {
  position: relative;
  bottom:25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  margin-left: 45%;
  margin-right: 45%;
  width:10%
}

.city-image{
  width: 80%;
  height: 70%;
  max-width: 100%;
  position: fixed;
  border-radius: 10px;
}

